<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={% static "core/index.css" %}>
        <link rel="icon" href={% static "core/icon.png" %}>
        <title>Expressiveness - TIM6</title>
    </head>
    <body>
<div class="container-fluid ">
            <!-- Main content -->
            <div class="row h-3"></div>
            <div class="row h-94 align-items-center create">
                <div class="col">
                    <div id="content" class="row" style="height:78vh;">
                        <img class = "img mx-auto text-center" style="height:100%; width:auto" src={% static "core/gears.png" %}>
                    </div>
                    <div class="row" style="height:16vh;">
                        <h1 class="mx-auto text-center">CREATE A DATASET</h1>
                    </div>
                </div>
            </div>
            <div class="row align-items-center collapse visualize h-94">
                <div class="col">
                    <div id="datamakers" class="row h-78">
                        {% if data_plugins %}
                            {% for p in data_plugins %}
                                <div class="col">
                                    <div class="row mx-auto text-center h-50">
                                        <div class="col">
                                            <a href="/{{p.identifier}}">
                                                <img class = "img-fluid mx-auto text-center h-100" src={% static "core/datamaker.png" %}>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row h-28">
                                        <div class="col">
                                            <h1 class="mx-auto text-center">{{p.name}}</h1>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h1>No plugins found</h1>
                        {% endif %}
                    </div>
                    <div class="row h-10">
                        <h2 class="mx-auto text-center">Already have a dataset saved?</h2>
                    </div>
                    <form  method="post" enctype="multipart/form-data" action="uploadData/">
                        {% csrf_token %}
                        <div class="row align-items-center h-6">
                            <div class="mx-auto">
                                <input type="file" name="file" id="loader" class="upload collapse" accept=".json">
                                <label for="loader" class="text-center"><span>Load a dataset</span></label>
                                <input type="submit" class="text-center" id="submit-data" value="Visualize">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row h-3"></div>
        </div>
        <script>
            $(document).ready(function(){
                $('#content').click(function() {
                    $(".create").hide();
                    $(".visualize").show();
                });
            });
        </script>
        <script src={% static "core/upload.js" %}></script>
        <!-- Bootstrap required JS libraries -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>